
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('font/MyriadPro-Regular.eot');
  src: url('font/MyriadPro-Regular.woff2') format('woff2'),
       url('font/MyriadPro-Regular.woff') format('woff'),
       url('font/MyriadPro-Regular.ttf') format('truetype'),
       url('font/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg'),
       url('font/MyriadPro-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
/**
Theme colors
*/
body {
	background: #ccc;
}

nav.bg-inverse {
	background-color: #fff !important;
}

.navbar-inverse .navbar-nav .nav-link {
	color: #000;
}

/** CSS*/
body {
	padding-top: 54px;
	font-family: 'MyriadPro-Regular';
}

nav .dropdown {
	display: inline-block;
}

@media (min-width: 992px) {
	body {
		padding-top: 56px;
	}
}
/* Temporary navbar container fix */

.navbar-toggler {
	z-index: 1;
}

@media (max-width: 576px) {
	nav > .container {
		width: 100%;
	}
}

.lang-en nav .btn-en {
	font-weight: bold;
}

.lang-slo nav .btn-slo {
	font-weight: bold;
}
